[submodule "ichigo-xin-Blog/public"]
	path = ichigo-xin-Blog/public
	url = git@github.com:ichigo-xin/ichigo-xin.github.io.git
	branch = main
[submodule "ichigo-xin-Blog/themes/hugo-theme-stack"]
	path = ichigo-xin-Blog/themes/hugo-theme-stack
	url = git@github.com:CaiJimmy/hugo-theme-stack.git
